<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero</title>
    <link rel="shortcut icon" href="../../assets/favicon.png">
</head>
<body>
    <main class="flex-col dark:bg-gray-800 font-mono bg-white relative cursor-default h-full">
        <header class="h-24 sm:h-32 flex items-center z-30 w-full">
            <div class="container mx-auto px-6 flex items-center justify-between">
                <div class="uppercase text-gray-800 dark:text-white font-black text-3xl flex items-center">
                    <a href="../game/view-game.html"><button
                            class="px-6 py-2 transition ease-in duration-200 rounded-lg hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none"
                            id="back">👈🏻 </button></a>
                </div>
                <div class="flex items-center">
                    <nav class="font-sen text-gray-800 dark:text-white uppercase text-lg lg:flex items-center hidden">
                        <a href="../intruction/intruction.html" class="py-2 px-6 flex hover:text-black">
                            Instrucciones
                        </a>
                        <a href="https://david-bedoya.vercel.app/" class="py-2 px-6 flex hover:text-black">
                            Contáctame
                        </a>
                    </nav>
                    <button class="lg:hidden flex flex-col ml-4">
                        <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                        </span>
                        <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                        </span>
                        <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                        </span>
                    </button>
                </div>
            </div>
        </header>
        <section class="flex-col items-center justify-between h-full" id="board">
            <div class="flex items-center justify-between h-full border p-4 rounded-lg mx-20 mt-4">
                <span class="w-28">Jugador</span>
                <span class="w-28">Puntaje</span>
                <span class="w-28 mr-4">Intentos</span>
            </div>
        </section>
    </main>
</body>

<script src="./script.js" type="module" ></script>
<script src="https://cdn.tailwindcss.com"></script>

</html>



